{%- from "system/component.html" import component -%} 
<section class="py-12 bg-offwhite border-t border-brand_lightgrey">
    <div class="container text-center md:text-left">
        <div class="block md:grid md:grid-cols-12 gap-default">
            <div class="row-start-1 col-start-7 col-end-13">
                {% image { 
                    src: "./src/static/img/teacher-whiteboard.jpg", 
                    alt: "", 
                    cls: "inline mb-8 rounded-xl",
                    styleName: "medium_half"
                } %}
            </div>
            <div class="row-start-1 col-start-1 col-end-6 flex flex-col justify-center">
                <h2 class="text-3xl md:text-4xl text-brand_lightblue">Before your next parent teacher conference</h2>
                <p class="text-xl mb-6 text-brand_darkgrey">This helpful “Guide to a Meaningful Parent Teacher Conference” includes a list of questions to discuss with the teacher about your child’s classroom performance, academic progress and more.</p>
                <div>
                    {{ component('button', {
                        text: 'Download the Guide',
                        src: '#'
                    })}}
                </div>
            </div>
        </div>
    </div>
</section>