<div class="overflow-hidden mx-auto bg-white border border-black border-opacity-20 rounded-xl">
  <form 
  class="block" 
  x-data="{
    selection: {
      subject: '{{subject}}' || null,
      grade: '{{grade}}' || null,
      area: '{{area}}' || null,
    },
    readyToSubmit: true,
    data: finderTree
  }" 
  x-on:submit="location = `${data[selection.subject].grades[selection.grade].areas[selection.area].url}`; " 
  @submit.prevent
  >
    <select class="p-4 md:my-2 w-full sm:border-b md:border-b-0" x-model="selection.subject" @change="selection.grade = null; selection.area = null;">
      <option hidden>select subject</option>
      <template 
        x-for="[id, value] in Object.entries(data)" 
        :key="id">
        <option :value="id" :selected="id == selection.subject" x-text="value.name"></option>
      </template>
    </select>

    <select class="p-4 md:my-2 w-full sm:border-b md:border-b-0" x-model="selection.grade" @change="selection.area = null;">
      <option hidden>select grade</option>
      <template 
        x-if="data[selection.subject] != null" 
        x-for="[id, value] in Object.entries(data[selection.subject].grades) || []" 
        :key="id">
        <option :value="id" :selected="id == selection.grade" x-text="value.name"></option>
      </template>
    </select>

    <select class="p-4 md:my-2 w-full md:flex-grow" x-model="selection.area">
      <option hidden>select area</option>
      <template 
        x-if="data[selection.subject].grades[selection.grade] != null" 
        x-for="[id, value] in Object.entries(data[selection.subject].grades[selection.grade].areas) || []" 
        :key="id">
        <option :value="id" :selected="id == selection.area" x-text="value.name"></option>
      </template>
    </select>

    <input type="submit" class="block md:inline-block flex-shrink w-full bg-blue-600 text-white cursor-pointer md:ml-4 px-6 py-4" />
  </form>
</div>